button, a {
    cursor: pointer;
}

.inactive {
    display: none!important;
}

@media(min-width: 700px) {
    .mobile-only {
        display: none!important;
    }
}

@media(max-width: 700px) {
    .desktop-only {
        display: none!important;
    }
}