button, a {
    cursor: pointer;
}


body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container { 
    max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
}

.inactive {
    display: none!important;
}

@media(min-width: 700px) {
    .mobile-only {
        display: none!important;
    }
}

@media(max-width: 700px) {
    .desktop-only, .hide-for-mobile {
        display: none!important;
    }
}