main {
    #highlight-carousel {
        padding-top: 20px;
        .highlight-tile {
            img {
                max-width: 90vw;
                border-radius: 5px;
            }
        }
    }
    .movie-tile {
        img {
            max-width: 35vw;
            border-radius: 5px;
        }
    }
    section {
        margin-bottom: 20px;
        h2 {
            padding: 15px;
        }
    }
}

@media(min-width: 700px) {
    main {
        #highlight-carousel {
            .highlight-tile {
                img {
                    max-width: 50vw;
                }
            }
        }
        .movie-tile {
            img {
                max-width: 14vw;
            }
        }
        section {
            h2 {
                padding-left: 5vw;
            }
        }
    }
}