@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
button, a {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

.inactive {
  display: none !important;
}

@media (min-width: 700px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 700px) {
  .desktop-only, .hide-for-mobile {
    display: none !important;
  }
}
header {
  background-color: #e4e4e4;
  border-bottom: 1px solid #a5a5a5;
  padding: 15px;
}
header .container {
  display: grid;
  place-items: center;
  grid-template-columns: auto 1fr auto;
}
header .container .sky-logo {
  color: #f35c58;
  display: grid;
  grid-column: 1/2;
}
header .container .hamburguer-menu {
  color: #494949;
  display: grid;
  grid-column: 3/4;
}
header .container .header-icons button {
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  border-style: none;
}
header .container .header-icons button:hover {
  background-color: #a1a1a1;
}
header .container .header-icons button div {
  color: #494949;
  font-weight: 1000;
}
header .container button {
  color: #494949;
  font-weight: 700;
}
header .container button.hamburguer-menu, header .container button.play-button, header .container button.login-button, header .container button.search-button {
  background: none;
  border: none;
  display: grid;
  place-items: center;
  font-size: large;
}
header .container button.hamburguer-menu:hover, header .container button.play-button:hover, header .container button.login-button:hover, header .container button.search-button:hover {
  color: #f35c58;
}
header .container button.play-button, header .container button.login-button {
  grid-template-columns: 1fr 1fr;
}

nav ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 50px;
  line-height: 50px;
  font-size: large;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
}
nav ul li {
  font-weight: 700;
}
nav ul li.selected {
  color: #f35c58;
  box-shadow: inset 0px -5px #f35c58;
  -webkit-box-shadow: inset 0px -5px #f35c58;
  -moz-box-shadow: inset 0px -5px #f35c58;
}
nav ul li.unselected {
  color: #494949;
}

@media (min-width: 700px) {
  header .container {
    grid-template-columns: repeat(5, 1fr);
  }
}
main #highlight-carousel {
  padding-top: 20px;
}
main #highlight-carousel .highlight-tile img {
  max-width: 90vw;
  border-radius: 5px;
}
main .movie-tile img {
  max-width: 35vw;
  border-radius: 5px;
}
main section {
  margin-bottom: 20px;
}
main section h2 {
  padding: 15px;
}

@media (min-width: 700px) {
  main #highlight-carousel .highlight-tile img {
    max-width: 50vw;
  }
  main .movie-tile img {
    max-width: 14vw;
  }
  main section h2 {
    padding-left: 5vw;
  }
}
footer {
  width: 100%;
  background-color: #e4e4e4;
}
footer a {
  text-decoration: none;
  color: #494949;
  font-weight: 600;
  line-height: 30px;
}
footer a:hover {
  color: #f35c58;
}
footer section#sky-social-media {
  border-bottom: 1px solid #a5a5a5;
  border-top: 1px solid #a5a5a5;
  padding: 15px;
}
footer section#sky-social-media .container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
}
footer section#sky-social-media .container .logo-sky-footer {
  display: grid;
  grid-column: 1/2;
}
footer section#sky-social-media .container .social-icons {
  grid-column: 3/4;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
}
footer section#sky-social-media .container .social-icons button {
  color: #494949;
  font-weight: 700;
  background: none;
  border: none;
  font-size: large;
}
footer section#sky-social-media .container .social-icons button:hover {
  color: #f35c58;
}
footer section#sky-information {
  padding: 15px;
}
footer section#sky-information .sky-app .minha-sky {
  display: grid;
  place-items: center;
  grid-template-columns: auto 1fr;
  height: 90px;
}
footer section#sky-information .sky-app .minha-sky img {
  height: 60px;
}
footer section#sky-information .sky-app .minha-sky p {
  color: #f35c58;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 30px;
  padding-left: 20px;
}
footer section#sky-information .sky-app .apple-store, footer section#sky-information .sky-app .google-play {
  width: 200px;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  color: #494949;
}
footer section#sky-information .sky-app .apple-store span, footer section#sky-information .sky-app .google-play span {
  font-weight: 800;
  font-size: 1.3em;
}
footer section#sky-information .sky-app .apple-store i, footer section#sky-information .sky-app .google-play i {
  font-size: 35px;
  height: 60px;
  width: 60px;
  border: 3px solid #494949;
  border-radius: 30px;
  border-left-color: transparent;
  display: grid;
  place-items: center;
}
footer section#sky-information h3 {
  display: grid;
  grid-template-columns: 1fr auto;
}
footer section#sky-information .links {
  display: inline-grid;
}
footer section#breadcrumbs {
  padding: 15px;
  background-color: #fff;
  font-weight: 600;
  line-height: 30px;
}
footer section#breadcrumbs span {
  color: #494949;
  padding-right: 10px;
  padding-left: 10px;
}
footer section#sky-rights {
  padding: 15px;
  text-align: center;
  color: #494949;
}
footer section#sky-rights .far {
  font-weight: 100;
}

@media (min-width: 700px) {
  footer section#sky-information .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
  footer section#sky-information .container .sky-app {
    grid-column: 1/2;
    padding-right: 60px;
  }
  footer section#sky-information .container .sky-app .minha-sky p {
    color: #494949;
    padding-right: 30px;
  }
  footer section#sky-information .container .footer-about {
    grid-column: 2/3;
  }
  footer section#sky-information .container .footer-responsibilities {
    grid-column: 3/4;
  }
  footer section#sky-information .container .footer-help {
    grid-column: 2/3;
  }
  footer section#sky-information .container .footer-sky-companies {
    grid-column: 3/4;
  }
  footer section#sky-information .links {
    display: inline-grid;
  }
}

/*# sourceMappingURL=styles.css.map */
